<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="mobitsolutions.com.pingutility">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION "/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--screen on off receiver -->
        <receiver
            android:name="screenonoff.ScreenReceiver"
            android:enabled="true">
            <intent-filter android:priority="999">
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
        </receiver>

        <service
            android:name="screenonoff.LockService"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.SCREEN_OFF" />
                <action android:name="android.intent.action.SCREEN_ON" />
            </intent-filter>
        </service>
        <!--screen on off receiver -->


        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="ac065fa4fd7ecf48b4fe2b391d25bcc416e85b2d"
            />
        <service
            android:name="bp.MyLocationService"
            android:process=":my_service">
        </service>

        <receiver
            android:name=".NoteJobCreator$AddReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.evernote.android.job.ADD_JOB_CREATOR"/>
            </intent-filter>
        </receiver>

        <receiver
            android:name=".AddReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.evernote.android.job.ADD_JOB_CREATOR"/>
            </intent-filter>
        </receiver>

<!--        <receiver android:name="bp.NotificationBroadcast" android:enabled="true" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        -->
        <receiver android:name=".JobBootReceiver" android:enabled="true" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>


        <service
            android:name="com.evernote.android.job.gcm.PlatformGcmService"
            android:enabled="true"
            tools:replace="android:enabled"/>

        <service
            android:name="alarmmanager.BackgroundService"
            android:exported="false"/>

        <receiver
            android:name="alarmmanager.ResponseBroadcastReceiver"
            android:process=":remote" >
        </receiver>

        <receiver
            android:name="alarmmanager.ToastBroadcastReceiver"
            android:process=":remote" >
        </receiver>
    </application>

</manifest>